*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   background-image: url(../images/pexels-karolina-grabowska-5706067.jpg);
  
    font-family: 'Poppins', sans-serif;
    background-size: auto;
    margin: 50px;
    scroll-behavior: auto;
  
  
}
.upper h1{
    color: #cab406;
    font-weight: bold;
}
.upper h4{
    color:purple;
}

#events{
    background-color: #9b9396;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 1px solid black;

    
}
.introduction{
background-color:#cab406;
display: flex;
flex-direction: column;
width: 850px;
padding: 20px;
margin-left: 50px;
margin-right:50px ;

}
#intro{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#intro h1{
    font-size: 2rem; 

}

#names label{
display: inline-block;
margin-right: 10px;
}
#fname{
    width: 250px;
    color: black;
    font-weight: bold;
}

#lname{
    width: 250px;
    color: black;
    font-weight:bold ;
}

#cat{
     justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;

}


#radios{
  display: flex;
  justify-content: center;
  align-items:center;
   
}
#radios label{
    display: inline-block;
    margin-right: 50px;
}

#submit{
    display:flex;
    justify-content:center;
    align-items: center;

}

#submit input{
   display: inline-block;
    margin-right: 100px; 
    border: 1px solid black;
    border-radius:20px ;
    width:80px; 
    background-color: blue;
    color:white; 
    
}
input
{
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}


.display{
    background-color:#d4c5db ;
    padding: 20px;
    margin: 50px;
    width: 850px;
    height: 500px;
}
#remove{
    border-radius: 10px;
}
#rsvp{
    border-radius: 10px;
}

